<h1>ゲームシェア</h1>

<p><%= @user.name %>様、</p>

<p>下のアカウント有効ボタンをクリックして有効化してください。</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>