<h1>ゲームシェア</h1>

<p>こんにちは！ <%= @user.name %>,</p>

<p>
ようこそゲームシェアへ、ボタンをクリックしてアカウントを有効化してください:
</p>

<%= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>