<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
         <p><%=object.errors.count %>つエラーがあります。</p>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>