<div class="main posts-index">
  <div class="container">
    <% @microposts.each do |micropost| %>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to micropost.user.name, micropost.user %>
          </div>
          <%= micropost.title %>
          <%= micropost.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>

     