<% provide(:title, "投稿詳細") %>
        <div>
        <p>投稿詳細<p>
        </div>
   <div class="col-md-8">
    
   
      <ol class="microposts">
        <%= render 'microposts/show'  %>
      </ol>
     
   
  </div>
</div>