<footer class="footer">
  <small>
    Create by <a href="https://brbr-to.com/">Toi Kobara</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ゲームシェアとは",   '/help' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>